.bg{
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.oops{
    text-align: center;
    h4{
        font-weight: 900;
        font-size: 5em;
        text-shadow: 4px 4px 4px rgb(0, 0, 0);
    }
    &__title{
        font-family: $primary-font;
        font-weight: 500;
        font-size: 1.5em;
    }
    p{
        margin-top: 8%;
        margin-bottom: 10%;
        
    }
    .fas{
        color: black;
    }
}
