.accordion{
  h2{
    padding: 2% 0;
    font-weight:500 ;
  }
  &__question{
    border: none;
    border-bottom: 1px solid $grey-light;
    text-align: left;
    outline: none;
    font-size: 16px;
    line-height: 35px;
    transition: 0.4s;
    padding: 0;
    background-color: $white;
    color:$primary-color;
    font-weight: 600;
    width: 100%;

    &:hover{
      border-bottom: 2px solid $grey;
    }
    &:after{
      content: '+'; 
      float: right;
    }
  }

  &__answer{
    padding: 15px 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .active{
    border-bottom: 2px solid $grey;
    &:after{
      content: "-";
    }
  }

}
