
/*Locator part*/
.locator{
    
    &__scroll{
        padding-right: 1em;
        .form{
            &__input{
                width:90%;
            }
            &__button{
                width: 10%;
            }
        }
        ul{
            padding-left: 0;
            padding-right: 3em;
            list-style: none;
            max-height: 75vh; 
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 0.5em;
            }
            &::-webkit-scrollbar-track {
                display: none;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $grey-light;
                border-radius: 30px;
            }
            
            li{
                padding-bottom: 20px;
                border-bottom: 2px solid $grey-light;
                p{
                    line-height: 20px;
                    margin: 0;
                    margin-bottom: 5px;
                    &:nth-child(5){
                        margin-bottom: 15px
                    }
                }
                .collection__line{
                    width: 80px;
                    margin-top: 10px;
                }
            }
        }
    }
    

}
/*GOOGLE MAPS INFO DESIGN*/
/*Please click on the map to see the change*/
/*Color of the map after subscribe to an google maps API*/
#map{
    height: 80vh;
    
    .gm-style .gm-style-iw-c{
        border-radius: 0!important;
    }
    
    .gm-ui-hover-effect{
        top: 0!important;
        right: 0!important;
    }
    .gm-style-iw-t::after{
        display: none!important;
    }
}