
//Font
$primary-font: "sofia-pro";
$secondary-font: "sofia-pro-medium";
$bold-font: "sofia-pro-bold";

//Breakpoints
$sm: 600px;
$md: 768px;
$lg: 1200px;
$xl: 1400px;

//Grid
$gutter: 15;
$columns: 12;
$container: 1400px;
$smallcontainer:930px;

//Color
$primary-color: #222222;
$red: #D6001C;
$white: #FFFFFF;
$gold: #B9A16B;
$dark-red: #C32929;
$grey: #767676;
$grey-light:#E4E4E4;
$pink:#F5E6E0;
$yellow:#EEBA36;


//text
$h1:2.1875em;
$font-size: 1em;
$font-h: 2.1875em;

.margin-3{
    margin: 0 3%;
}
