
.collection{
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;
    min-height: 250px;
    transition: all 600ms cubic-bezier(0.860, 0.000, 0.070, 1.000);


    &__backgrounds {
        position: absolute;
        right: 0;
        min-height: 100%;
        
        img {
        position: absolute;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        display: block;
        opacity: 0.7;
        }
    }
    &__content {
        position: absolute;
        font-family: $primary-font;
        bottom: $innerPadding;
        left: $innerPadding;
        right: $innerPadding;
        color: $primary-color;
    }

    &--gray { background: $grey-light; }
    &--beige { background: $beige; }
    &--salmon { background: $pink; }

    &--full {
        .collection__backgrounds {
        width: 100%;
        right: 50%;
        top: 50%;
        transform: translateX(50%) translateY(-50%);
        }
    }

    &--half {
        .collection__backgrounds {
        width: 50%;
        top: 50%;
        transform: translateY(-50%);
        }
    }

    &--empty {
        .collection__backgrounds {
        display: none;
        }
    }

    &--twothird {
        .collection__backgrounds {
        width: 66%;
        top: 50%;
        transform: translateY(-50%);
        }
    }
    &__red{
        background-color: $red;
        color: $white;
        
        .collection__content{
            color: $white;
            .line__cta::after{
                background: $white;
            }
        }
        
    }

}
.grid-top-high {
    display: grid;
    grid-template-columns: 100%;
    gap: $gap $gap;
    
    @media (min-width:$md) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
        grid-template-areas: "left-square left-square top-right top-right" "left-square left-square mid-bottom-right bottom-right";
        .item1 { grid-area: left-square; }
        .item2 { grid-area: top-right; }
        .item3 { grid-area: mid-bottom-right; }
        .item4 { grid-area: bottom-right; }
    }
}
