
footer{
    background-color: #E4E4E4;
    margin: 0 auto;
    padding-top: 10%;
    .top{
        padding: 3%;
        max-width: $md;
        margin:0 auto;
        nav{
            display: grid;
            grid-template-columns: 50% auto;
            grid-gap: 10px;
            margin: 0 auto;
            padding-bottom: 5%;
        }
    }
    .info{
        span{
            font-size: 0.875em;
            display: block;
        }
        .social{
            justify-content: space-between;
            display: flex;
            padding: 5% 45% 5% 0;
        }
    } 
    ul{
        list-style: none;
        padding: 0%;

        li{
            a{
                list-style: none;
                text-decoration: none;
                color:$primary-color;
                line-height: 3em;
                margin:0;
            }
        }
    }
    p{
        font-size:0.875em;
        padding-right: 20%;
    }
    
    .formulaire {
        form{
            margin-bottom: 10%;
        }
        span{
            margin-right: 60%;
        }
    }
    .bottom{
        border-top: 1px solid #CFCDCD;
        max-width: $md;
        margin:0 auto;
        &__form{
            padding: 5% 3%;
            label{
                color: $grey;
            }
            select {
                border: none;
                margin-left: 5%;
                background: url(../Uomo/assets/arrow.svg) no-repeat right $grey-light;
                -webkit-appearance: none;
            }
        }
        &__lang{
            padding: 5% 0;
            select{
                background-position-x: 99%;
                width: 170px;
            }
        }
    
        &__currency{
            select{
                background-position-x: 99%;
                width: 60px;
                margin-left: 7%;
            }
        }
    
    }
    @media (min-width:$md ){
        .top nav{
            grid-template-columns: 33% 33% 33%;
            margin:0;
        }
    }
    
    @media (min-width:$xl ){
    
        padding: 0;
        padding-top: 1%;
        .info{
            padding-top:3%;
            .padding-b {
                padding-bottom: 10%;
            }
            p{
                padding-top: 5%; 
                padding-bottom: 5%;
            }
        }
        .formulaire{
            padding-top:3%;
        }

        
        .top{
           display: grid;
            grid-template-columns: 28% auto 25%;
            max-width: $container;
            margin:0 auto;
            padding:3% 0;
        }
        
        .top nav{
            grid-template-columns: 33% 33% 33%;
            margin:0;
        }
      
        .bottom{
            max-width: $container;
            &__form{
                display:flex;
                justify-content:flex-end;
                margin: 0 auto;
                padding: 3% 0;
            }
            span{
                width:50%;
                justify-content:flex-start;
                display: flex;
            }
            &__lang{
                padding: 0;
                
                width:30%;
                justify-content:flex-end;
                display: flex;
            }
            &__currency{
                width:20%;
                
                justify-content:flex-end;
                display: flex;
            }
        }
        
        ul{
            margin:0;
            padding: 0;
        }
    }
}