.form{
    background: $white;
    box-sizing: border-box;
    border: none;
    
    &__button{
        float:right;
        font-family: $primary-font;
        border: none;
        font-size: $font-size;
        background: none;
        text-transform: uppercase;
        vertical-align: middle;
        height: 40px;
        padding: 0%;
        width: 12%;
    }
    &__input{
        width:83%;
        height: 40px;
        margin: 0;
        padding-left: 3%;
        border: 1px solid $grey-light;
    }
    &::placeholder{
        color: $primary-color;
        opacity: 1;
        font-weight: 600;
    }
}