.form{
    background: $white;
    box-sizing: border-box;
    border: none;
    
    &__button{
        float:right;
        font-family: $primary-font;
        border: none;
        font-size: $font-size;
        background: none;
        text-transform: uppercase;
        vertical-align: middle;
        height: 40px;
        padding: 0%;
        width: 12%;
    }
    &__input{
        width:83%;
        height: 40px;
        //margin: 10px 0;
        padding-left: 2%;
        border: 1px solid $grey-light;
        
    }
    input:focus { 
        border-color: $primary-color;
        border-radius: 0;
    }
    textarea{
        padding-top: 1%;
        &:focus { 
      
            border-color: $primary-color;
            
            
        }
    }
    
   
    
    &::placeholder{
        color: $primary-color;
        opacity: 1;
        font-weight: 600;
    }
}