.form{
    background: $white;
    border: 1.5px solid $primary-color;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &__button{
        float:right;
        font-family: $primary-font;
        border: none;
        font-size: $font-size;
        background: none;
        text-transform: uppercase;
        vertical-align: middle;
        height: 40px;
        padding: 0%;
        width: 12%;
    }
    &__input{
        width:83%;
        border: none;
        height: 40px;
        margin: 0;
        padding-left: 3%;
    }
    &::placeholder{
        color: $primary-color;
        opacity: 1;
        font-weight: 600;
    }
}