//text

body{
    font-family: $primary-font; 
    
}
p {
    font-size: $font-size;
}

h1{
    font-size: $font-h;
}
h2{
    font-size: 1em;
    
}
h3{
    font-family: $primary-font;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5em;
}
h4{
    font-weight: 500;
    font-family: $primary-font;
    font-size: 1.1em;
    color: $primary-color;
    text-transform: uppercase;
    margin: 2%;
}

h5{
    text-transform: uppercase;
    font-size: 1.125em;
    margin: 0;
}

.link a{
    text-decoration: none;
    list-style: none;
}


.text{
    line-height: 35px;
}

a{
    font-family: $primary-font;
}

.text-simple{
    font-size: $font-size;
}

.title-description{
    color:$grey;
    font-size: 0.9em;
}
.price__actual{
    font-size: $font-size;

}